<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../docs/favicon.ico">

  <title>宿舍管理系统-学号主页</title>

  <link href="../../../dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <link href="../../css/student/home.css" rel="stylesheet">

  <script src="../../../docs/assets/js/ie8-responsive-file-warning.js"></script>
  <script src="../../../docs/assets/js/ie-emulation-modes-warning.js"></script>



</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">学生宿舍管理系统</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          <li><a href="#">（头像）XX学生</a></li>
          <li><a href="#">注销</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">宿舍退调申请<span class="sr-only">(current)</span></a></li>
          <li><a href="#">宿舍设施报修申请</a></li>
          <li><a href="#">生活缴费</a></li>
          <li><a href="#">宿舍资源申请</a></li>
          <li><a href="#">社区活动申请</a></li>
          <li><a href="#">共享书屋</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="row placeholders"  style="text-align: left">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-primary">申请调整</button>
            <button type="button" class="btn btn-primary">申请退宿</button>
            <button type="button" class="btn btn-primary">留校申请</button>
          </div>
        </div>

        <hr />
        <h1 class="sub-header">注意事项</h1>
        <div class="row placeholders">

        </div>
        <hr />
        <h1 class="sub-header">申请日志</h1>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>申请时间</th>
              <th>申请人</th>
              <th>宿舍床位号</th>
              <th>申请项</th>
              <th>经办人</th>
              <th>状态</th>
              <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>2017-05-02 17:33:34</td>
              <td>卢程</td>
              <td>G613-2</td>
              <td>调整宿舍</td>
              <td>刘宿管</td>
              <td>成功</td>
              <td>
                <button type="button" class="btn btn-primary">查看</button>
              </td>
            </tr>
            <tr>
              <td>2017-05-02 17:33:34</td>
              <td>卢程</td>
              <td>G209-3</td>
              <td>留校申请</td>
              <td>刘宿管</td>
              <td>成功</td>
              <td>
                <button type="button" class="btn btn-primary">查看</button>
              </td>
            </tr>
            <tr>
              <td>2017-05-02 17:33:34</td>
              <td>卢程</td>
              <td>G613-2</td>
              <td>调整宿舍</td>
              <td>刘宿管</td>
              <td>成功</td>
              <td>
                <button type="button" class="btn btn-primary">查看</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
